<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>

    <%- include('./partials/navbar'); %>

    <button
      onclick="window.location.href='/room_details'"
      class="btn btn-md btn-primary"
    >
      Play with a friend
    </button>
  </body>
</html>
