<html>
  <head>
    <title>Delta Meet</title>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>

  <body>
    <h1 class="title">Delta Meet</h1>
    <p id="notification" hidden></p>
    <div class="entry-modal" id="entry-modal">
      <p>Create or Join Meeting</p>
      <input id="room-input" class="room-input" placeholder="Enter Room ID" />
      <div>
        <button onclick="createRoom()">Create Room</button>
        <button onclick="joinRoom()">Join Room</button>
      </div>
    </div>
    <div class="meet-area">
      <!-- Remote Video Element-->
      <div id="video-grid"></div>

      <!-- Local Video Element-->
      <video id="local-video"></video>
      <canvas class="output_canvas" width="300px" height="250px"></canvas>
    </div>
  </body>
  <script>

    window.call = <%- JSON.stringify(call) %>;
  </script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="script.js"></script>
</html>
