<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/navbar'); %>

    <!-- Login container -->

    <div class="container" style="margin-top: 100px; width: 30%">
      <h1 style="text-align: center">Login</h1>
      <div class="search" style="margin: 25px auto">
        <form action="/login" method="post">
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              name="username"
              placeholder="username"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="password"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Login</button>
          </div>
        </form>
        <a href="/">Go Back</a>
      </div>
    </div>

    <!-- Login Container ends -->
  </body>
</html>
